awscli==1.22.26
botocore==1.23.26
certifi==2021.10.8
click==8.0.3
colorama==0.4.3
docutils==0.15.2
Flask==2.0.2
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
mysql-connector-python==8.0.28
protobuf==3.19.4
pyasn1==0.4.8
python-dateutil==2.8.2
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
SQLAlchemy==1.4.31
Werkzeug==2.0.2
